<button class="btn btn-primary m-3"
(click)="OnBtnClick()">Display Details</button>
<!-- show paragraph only if button is clicked, use ngIf --> 
<p *ngIf="isShow" class="m-3">Secret Password is {{secretPassword}}</p>
<!-- if we click button again, paragraph is removed, since ngIf will be false on another click -->
<br>

<button class="btn btn-danger m-3"
(click)="OnBtnCount()">Click Me</button>
<p *ngFor="let eachClick of clickDataArray; let i = index" 
[ngStyle]="{backgroundColor: i>=5? 'red':'blue'}"
[ngClass]="{'text-white': i>=5}"
[ngClass]="{'text-green': i<5}"
class="m-2">{{ eachClick }}</p>

